name: Cactus Runtime | Linter

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  RUSTFLAGS: "-Dwarnings"
  CARGO_TERM_COLOR: always
  MANIFEST_PATH: cactus-system/Cargo.toml

jobs:
  cactus_lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Run Clippy
        run: cargo clippy --manifest-path $MANIFEST_PATH --all-targets --all-features
